<row id="movie">
  <column id="moviePoster">
    <section class="card">
      <img src="{{movieImage}}">
    </section>
  </column>
  <column id="movieInfo">
    <section class="card">
      <div class="card-body">
        <h3 class="card-title">{{movieTitle}} ({{movieYear}})</h3><br/>
        <h4>Synopsis:</h4>
        <p>{{movieSynopsis}}</p><br/>
        <h4>Directed by:</h4>
        <p>{{movieDirector}}</p><br/>
        <h4>Written by:</h4>
        <p>{{movieWriterName}}</p><br/>
        <h4>Cast:</h4>
        <p>{{movieActorName}}</p>
      </div>
  </section>
  </column>
</row>
