<row id="show">
  <column id="showPoster">
    <section class="card">
      <img src="{{showImage}}">
    </section>
  </column>
  <column id="showInfo">
    <section class="card">
      <div class="card-body">
        <h3 class="card-title">{{showTitle}} ({{showYear}})</h3><br/>
        <h4>Synopsis:</h4>
        <p>{{showSynopsis}}</p><br/>
        <h4>Created by:</h4>
        <p>{{showCreator}}</p><br/>
        <h4>Written by:</h4>
        {{#each showWriter}}
        <p>{{showWriterName}}</p>
        {{/each}}
        <br/>
        <h4>Cast:</h4>
        <ul>
          {{#each showActors}}
          <li>{{showActors}}</li>
          {{/each}}
        </ul>
        {{#if favorite}}
          <h4>One of My Favorites!</h4>
        {{/if}}
        {{#if logged_in}}
        <button class="btn btn-sm btn-danger" data-id="{{show.id}}">DELETE</button>
        {{/if}}
      </div>
  </section>
  </column>
</row>
<script src="/js/show.js"></script>
